.container {
    display: flex;
    gap: 1.7rem;
}

.indicator {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.indicator_done {
    background-color: #00D8A7;
    border: 1px solid #00D8A7;
}

.task {
    font-size: 1.6rem;
    font-weight: 500;
    color: #001747;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task:hover {
    color: #2D70FD;
}

.task_done {
    text-decoration-line: line-through;
    color: #8F98A8;
}